
/* --------- SPLASH --------- */

#splash {
  overflow: hidden;
  height: 75%;
  .content {
    height: ~"calc(100% - 50px)";

    .row {
      height: 100%;
      display: flex;
      align-items: center;
      flex-align: flex-end;

      .inner {
        text-align: center;
        width: 100%;
      }

      ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        width: 559px;
        margin: 0 auto;
        padding: 0;
        justify-content: space-between;
        position: relative;
        bottom: 20px;

        li {
          display: inline;
          font-size: 18px;
          font-weight: 100;
          letter-spacing: 2px;
          text-transform: uppercase;

          a {
            color: white;

            &:hover {
              font-weight: 300;
            }
          }
        }
      }

      .column {
        position: relative;
        bottom: 50px;
      }
    
      .column:nth-child(1) {
        flex-direction: row-reverse;
        text-align: right;
      }

      .column:nth-child(2) {
        flex-direction: row;
        text-align: left;
      }
    }

    .logo {
      height: 200px;
      margin: 0 auto;
      position: relative;
      bottom: 37px;
    }
  }
}