@import "global/vars.less";
@import "global/fonts.less";
@import "global/mixins.less";
@import "global/global.less";
@import "breakpoints/mobile.less";
@import "breakpoints/tablet.less"; 
@import "breakpoints/desktop.less";

@media (max-width: 1250px) {
  #about .rewind-item.left, #about .rewind-item.right {
    float: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 750px) {
  #about .rewind-item.left, #about .rewind-item.right {
    float: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .registration h3, p{
  }
/*  #about .rewind-item{
    width: 600px;
    margin:0 auto;
  }*/
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  .separator {
    display: none;
  }

  #splash .content .logo {
    height: 125px;
  }

  #splash .content .row ul {
    flex-direction: column;
    width: initial;

    li {
      margin-bottom: 15px;
    }
  }

  #team {
    height: initial;
  }

  #team .team-wrapper {
    flex-direction: column;
    width: 150px;

    img {
      margin-bottom: 50px;
    }

    &:nth-child(n + 1) {
      margin-top: -25px;
    }
  }

  #about .row {
    width: 80%;
    margin: 0 auto;
  }

  #about {
    .rewind-item.image-wrapper {
      overflow-x: scroll;
      max-width: 300px;

      img {
        margin-right: 30px
      }
    }
  }
}

/********** Super extra small devices Only **********/
@media (max-width: 479px) {
}
