@import "global/vars.less";
@import "global/fonts.less";
@import "global/mixins.less";
@import "global/global.less";
@import "breakpoints/mobile.less";
@import "breakpoints/tablet.less"; 
@import "breakpoints/desktop.less";

@media (max-width: 1250px) {
  #about .rewind-item.left, #about .rewind-item.right {
    float: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 750px) {
  #about .rewind-item.left, #about .rewind-item.right {
    float: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .registration h3, p{
  }
/*  #about .rewind-item{
    width: 600px;
    margin:0 auto;
  }*/
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  .separator {
    display: none;
  }

  #splash .content {
    height: 75%;
  }

  #splash .content .logo {
    height: 125px;
  }

  #splash .content .row ul {
    flex-direction: column;
    width: initial;

    li {
      margin-bottom: 15px;
    }
  }

  #team {
    height: initial;
  }

  #team .team-wrapper {
    flex-direction: column;
    width: 150px;

    .team-item {
      margin-bottom: 50px;
    }

    .overlay {
        display: flex;
      }

    &:nth-child(n + 1) {
      margin-top: -25px;
    }
  }

  #about .row {
    width: 80%;
    margin: 0 auto;
  }

  #about {
    .rewind-item.image-wrapper {
      overflow-x: scroll;
      max-width: 300px;

      img {
        margin-right: 30px
      }
    }
  }
}

/********** Super extra small devices Only **********/
@media (max-width: 479px) {
}

.icon-bar{ 
  background-color: white;
}
.navbar-collapse{
  text-align: center;
}

footer{
  text-align: center;
  margin:30px auto;
  font-size: .8em
}
footer ul{
  padding:0;
  margin:0;
}
ul > li{
  list-style-type: none;
}
footer a{
  cursor: pointer;
}
.usefullinks{
  float:right;
  position:relative;
  left:-50%;
}
.usefullinks ul{
  position:relative;
  left:50%;
}
.usefullinks li{
  float:left;
  padding:10px 30px;
  text-transform: uppercase;
  border-right: 1px solid white;
}
.usefullinks li:nth-child(4){
  border:none;
}
.followus{
  padding-top: 50px;
}
.followus ul{
  text-align: left;
  margin:0 auto;
  width: 215px;
}
.followus li{
  margin:10px 0;
}
.followus img{
  margin-right: 7px;
}

@media (max-width: 600px){
  .usefullinks li{
    padding:5px 10px;
  }
  .reglogo{
    width: 350px;
    height: 90px !important;
  }
  #splash .content .row ul li{
    font-size: 14px;
  }

}
@media (max-width: 400px){
  .usefullinks {
    float:none;
  }
  .usefullinks li{
    float:none;
    border-right: none;
    padding:10px;
    margin:0 100px;
    border-bottom: 1px solid lightgray;
  }
  .followus {
    padding-top: 0;
    margin:0;
  }
}
